// Override default variables before the import
$body-bg: #000;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('./resources/img/opm2.jpg');
  background-size: cover;
  background-position: center center;
}
.logo {
    width: 100%;
    height: 100%;
    background-image: url('./resources/img/hero-logo.png');
    background-size: 300px 200px;
    background-size:cover;
    background-position: center center;
  }
